body {
    background-color: black;
    padding: 0 16px;
}
.next-button {
    padding: 20px;
    border-radius: 0.75rem;
    background: #FF7757;
    border: none;
}
.prev-button {
    background-color: #172432;
}
.img-card {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 320px;
}
.destinations-carousel {
    width: 100%;
}
/* .carousel-text {
    padding: 0 20px 40px 20px;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: left;
} */
.carousel-text {
    color: #ffffff;
}
.carousel-text h5 {
    margin-bottom: 17px;
    color: #FFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.carousel-text p {
    margin-bottom: 0;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stars {
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.details-button {
    display: inline-block;
    padding: 16px 24px;
    border-radius: 0.75rem;
    background: #FF7654;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}